@using Pronia.Areas.Client.ViewModels.OrderProducts
@model OrderProductsViewModel

<div class="col-lg-6 col-12">
    <div class="your-order">
        <h3>Your order</h3>
        <div class="your-order-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="cart-product-name">Product</th>
                        <th class="cart-product-total">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Products)
                    {
                        <tr class="cart_item">
                            <td class="cart-product-name">
                                @order.Name<strong class="product-quantity">
                                    @order.Quantity
                                </strong>
                            </td>
                            <td class="cart-product-total">
                                <span class="amount">@order.Total</span>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="cart-subtotal">
                        <th>Cart Subtotal</th>
                        <td><span class="amount">@Model.Summary.Total</span></td>
                    </tr>
                    <tr class="order-total">
                        <th>Order Total</th>
                        <td>
                            <strong><span class="amount">@Model.Summary.Total</span></strong>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="payment-method">
            <div class="payment-accordion">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="#payment-1">
                            <h5 class="panel-title">
                                <a href="#"
                                   class=""
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseOne"
                                   aria-expanded="true">
                                    Direct Bank Transfer.
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne"
                             class="collapse show"
                             data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Make your payment directly into our bank
                                    account. Please use your Order ID as the payment
                                    reference. Your order won’t be shipped until the
                                    funds have cleared in our account.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="#payment-2">
                            <h5 class="panel-title">
                                <a href="#"
                                   class="collapsed"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseTwo"
                                   aria-expanded="false">
                                    Cheque Payment
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo"
                             class="collapse"
                             data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Make your payment directly into our bank
                                    account. Please use your Order ID as the payment
                                    reference. Your order won’t be shipped until the
                                    funds have cleared in our account.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="#payment-3">
                            <h5 class="panel-title">
                                <a href="#"
                                   class="collapsed"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#collapseThree"
                                   aria-expanded="false">
                                    PayPal
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree"
                             class="collapse"
                             data-bs-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    Make your payment directly into our bank
                                    account. Please use your Order ID as the payment
                                    reference. Your order won’t be shipped until the
                                    funds have cleared in our account.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-button-payment">
                    <form method="POST" asp-route="client-checkout-place-order" id="submit-form"></form>
                    <button class="place-order w-100" form="submit-form">Place order</button>
                </div>
            </div>
        </div>
    </div>
</div>