@model List<ListItemViewModel>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="admin-subnavbar-add" class="btn btn-secondary">Add new Subnavbar</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Subnavbar</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Order</th>
                            <th>Is Header?</th>
                            <th>Is Footer?</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subNavbar in Model)
                        {
                            <tr>
                                <td>@subNavbar.Name</td>
                                <td>@subNavbar.URL</td>
                                <td>@subNavbar.Order</td>
                                <td>@subNavbar.Navbar</td>
                                <td class="text-end">
                                    <a asp-route="admin-subnavbar-update" asp-route-id="@subNavbar.Id"><i class="las la-pen text-secondary font-16"></i></a>
                                    <form method="POST" asp-route="admin-subnavbar-delete" asp-route-id="@subNavbar.Id" id="subnavbar-form-@subNavbar.Id"></form>
                                    <button type="submit" form="subnavbar-form-@subNavbar.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>